@use "sass:color";

$primary-color: #007bff;
$secondary-color: #0056b3;
$accent-color: #f5dd09;
$tertiary-color: #495057;

$font-family-1: "Poppins", sans-serif;
$brand-title-font-family: "Orbitron", sans-serif;

