<article class="product__container">
  <app-bread-crumbs [breadcrumbs]="breadCrumbs()" />

  @if (showMiniCart()) {
    <app-mini-cart (closeCart)="toggleShowMiniCart()" />
  }

  @if (product()) {
    <span class="product__row">
      @if (product()!.images.length > 0) {
        <app-product-image-slider [images]="product()!.images" />
      }
        <app-product-card [product]="product()" (addProductToCart)="onShowMiniCart()" />  
    </span>
  
    <app-product-description [description]="product()!.description" />

    <app-product-specifications [attributes]="product()!.attributes" />
  }
</article>